@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #f8f8f8;
  --color-base-200: #e8e8e8;
  --color-base-300: #d8d8d8;
  --color-base-content: #0a0a0a;
  --color-primary: #bfdbfe;
  --color-primary-content: #0a0a0a;
  --color-secondary: #47a7ff;
  --color-secondary-content: #fcfcfc;
  --color-accent: #33e1aa;
  --color-accent-content: #fcfcfc;
  --color-neutral: #6c6c6c;
  --color-neutral-content: #fcfcfc;
  --color-info: #5998ff;
  --color-info-content: #fcfcfc;
  --color-success: #33e179;
  --color-success-content: #fcfcfc;
  --color-warning: #ffde47;
  --color-warning-content: #33312d;
  --color-error: #f47174;
  --color-error-content: #eee;

  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;

  --depth: 1;
  --noise: 0;
}

#nprogress .bar {
  background: blue;
}

hr {
  border: none;
  height: 1px;
  background-color: #888;
  margin: 1.5rem 0;
}
